<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TREE VISUALISER</title>
  </head>
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="./index.css">
  <body id="body">
    <div class="input"
    v-if="addNode">
      <input type="number"
      v-model="newNode"
      placeholder="enter new key"
      class="btn selector">
      <button
      :disabled="newNode == ''"
      @click="addNewNode()"
      type="button"
      class="btn add">Add</button>
      <button
      @click="cancelInsert"
      type="button"
      class="btn cancel">Cancel</button>
    </div>
    <div id="tree">
      <button v-if="nodes.length == 0"
      :disabled="addNode"
      @click="setNewParent(-1)"
      :class="['node',
      addNode?'inactive':'active']">
        Empty tree
      </button>
      <div v-for="index in height()":key="index" class="container">
        <button
        v-for="node in getNodes(index)"
        :key="node.id"
        :disabled="addNode"
        @click="setNewParent(node.id)"
        :class="['node',
        addNode?'inactive':'active']"
        :id="node.id">
          {{node.key}}
        </button>
      </div>
    </div>
    <svg id="svg" v-if="displayLines">
      <line
      v-for="(line, index) in getCoordinates"
      :key="index"
      :x1="line.first.x":y1="line.first.y"
      :x2="line.second.x":y2="line.second.y"
      :id="index"
      class="line"/>
    </svg>
  </body>
  <script src="./index.js"></script>
</html>
